.banner{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    height: 500px;
}

body{
    background-color: gold;
}

.top{
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    background-image:
    linear-gradient(45deg, black 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, black 75%),
    linear-gradient(45deg, transparent 75%, black 75%),
    linear-gradient(45deg, black 25%, rgb(44, 25, 112) 25%);
    background-size: 100px 100px;
}

.middle{
    background-color: black;
    margin: 5px;
    border-style: double;
    border-color: deeppink;
    padding-right: 5px;
    padding-left: 5px;
}

.bottom{
    height: 750px;
    margin: 5px;
    border-style: double;
    border-color: deeppink;
}

.Giorno{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    height: 500px;
}

#one{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: deeppink;
}

#two{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: gold;
}